header{
    padding: 30px!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
}

header a{
    font-weight: 400;
    text-decoration: none;
    color: rgb(93, 95, 121);
}

header .logo{
    cursor: pointer;
}

header .nav-links{
    list-style: none;
    text-align: right;
}

header .nav-links li{
    display: inline-block;
    padding-left: 40px;
}

header .open-menu-btn{
    display: none;
}

@media screen and (max-width: 768px) {
    header .nav-links{
        display: none;
        float: right;
    }

    header .open-menu-btn{
        display: inherit;
        overflow: visible;
    }
}

@media screen and (min-width: 768px) {
    header{
        padding: 30px 50px!important;
    }
}

@media screen and (min-width: 1024px) {
    header{
        padding: 30px 60px!important;
    }
}

@media screen and (min-width: 1440px) {
    header{
        padding: 50px 90px!important;
    }
}

/*Mobile navbar*/
.mobile-menu-bg{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: transform 0.3s;
}

header .overlay{
    height: 100%;
    width: 75%;
    padding: 30px 20px;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    top: 0;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s;
}

@media screen and (min-width: 600px) {
    header .overlay{
        width: 40%;
    }
}

header .overlay.active{
    transform: translateX(0%);
}

header .overlay .overlay-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

header .overlay a{
    padding: 15px;
    display: block;
    color: rgb(0, 0, 26);
    /*transition: all 0.3s ease 0;*/
}

header .overlay .close-menu-btn{
    margin-bottom: 50px;
}