.other-articles .article{
    margin: 30px 0px;
}

.other-articles .article img{
    max-width: 100px;
    max-height: 128px;
}

.other-articles .article .article-description{
    margin-left: 20px;
}

.other-articles .article h2{
    font-size: 36px;
    font-weight: 700;
    color: rgb(197, 198, 206);
}

.other-articles .article h4{
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 26);
}

.other-articles .article p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(93, 95, 121);
    margin: 0px;
}