@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@import "reset.css";

@import "header.css";
@import "main-article.css";
@import "secondary-articles.css";
@import "other-articles.css";

*{
    font-family: "Inter";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.main-and-secondary, .other-articles{
    padding: 0px 15px!important;
}

@media screen and (min-width: 768px) {
    .row{
        --bs-gutter-x: 1.5rem!important;
        --bs-gutter-y: 0!important;
    }

    .main-and-secondary{
        align-items: center;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}